@{ 
    Layout = null;
}
<div class="btn-group" style="right">
    <input id="BtnAdd" type="button" value="Add" class="btn btn-primary" />
    <input id="BtnSave" type="button" value="Save" class="btn btn-success" />
    <input id="BtnCancel" type="button" value="Cancel" class="btn btn-info" />
</div>
