
<script type="text/javascript">
    $(document).ready(function () {

        var _OrderList = $('#tblItem').dataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching":false,
            "ajax": {
                "order": [[1, "desc"]],
                "type": "GET",
                "datatype": "JSON",
                "contentType": "application/json; charset=utf-8",
                "url": "@Url.Action("GetAll","Item")"
                //"success": function (data) {
                //    console.log(data);
                //}
                //,
                //"error": function () {
                //    Alert("Please contact your admin. Thanks");
                //}
            }
            ,

            columns: [
                {
                    data: 'PRNo', title: 'PR Number',
                    render: function (data) {
                        return '<a id="btnModalCancel" style="margin-top:10px" class="input-sm" href="" >' + data + '</a>'
                    }

                },
                { data: 'SelectedDepartment.DeptName', title: 'Department' },
                { data: 'Reason', title: 'Reason' },
                { data: 'RequestedBy', title: 'Requested' },
                { data: 'RequestedDate', type: "datetime", title: 'Requested Date',
                    render: function (data) {
                        return moment(data).format('DD/MM/YYYY');
                    }
                },
                { data: 'ApprovedStatus', title: 'Approved'
                    ,
                    render: function (data) {
                        if (data === true) {
                            return "<input type='button' value='Approved' name=' select' class=' btn btn-warning btn-xs fa-checked' onclick='SelectItem(this)' >" ;
                        }
                        else {
                            return "<input type='button' value='Select' name=' select' class=' btn btn-success btn-xs' onclick='SelectItem(this)' > <input type='button' id='btnRemove' value='Remove' name=' remove' class=' btn btn-danger  btn-xs' onclick='RemoveItem(this)' >";
                        }
                    }
                }
                ,
                //{ data: null, defaultContent: }

            ]
        });

    });
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Advanced Tables</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Tables</span></li>
                <li><span>Advanced</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Basic</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="tblItem">
                <thead>
                    <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th class="hidden-phone">Engine version</th>
                        <th class="hidden-phone">CSS grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td>Trident</td>
                        <td>
                            Internet
                            Explorer 4.0
                        </td>
                        <td>Win 95+</td>
                        <td class="center hidden-phone">4</td>
                        <td class="center hidden-phone">X</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>


    <!-- end: page -->
</section>