@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    //Use ready() to make a function available after the document is loaded:
    $(document).ready(function () {        
        $('#Item').change(function () {            
            var itemId = $('#Item').val();
            //alert(itemId.toString());
            GetUnitPriceItem(itemId);            
        });

        //$('#Quantity').change(function () {
        //    CalSubTotal();
        //});

        $('input[type=text]').change(function () {
            CalSubTotal();

        });

        $('#Addtolist').click(function () {
            AddItemToList();

        });

    });

    function AddItemToList() {
        var tblRestaurantItemList = $("#tblReastaurantItemList");
        var itemName = $("#Item option:selected").text();
        var itemId = $("#Item").val();
        var unitPrice = $("#UnitPrice").val();
        var quantity = $("#Quantity").val();
        var discount = $("#Discount").val();
        var total = unitPrice * quantity - discount; //$("#Total").val();

        var itemLine = "<tr><td hidden>" +
            itemId +
            "</td><td>" +
            itemName +
            "</td><td>" +
            quantity +
            "</td><td>" +
            unitPrice +
            "</td><td>" +
            discount +
            "</td><td>" +
            total +
            "</td><td> <input type='button' value='Select' name=' select' class=' btn btn-success' onclick='SelectItem(this)' ><input type='button' value='Remove' name=' remove' class=' btn btn-danger' onclick='RemoveItem(this)' ></td></tr>";
        tblRestaurantItemList.append(itemLine);
        FinalTotal();
        ResetItem();
    }

    function FinalTotal() {
        var finalTotal = 0.00;
        //alert(finalTotal.toString());

        $("#FinalTotal").val("0.00");
        $("#tblReastaurantItemList_body").find("tr:gt(0)").each(function () {
            var Total = parseFloat($(this).find("td:eq(5)").text());
            finalTotal += Total;
        });
        
        $("#FinalTotal").val(parseFloat(finalTotal).toFixed(2));
    }

    function SelectArrObjItem(Item) {        
        var ItemArr = [];

        // loop over each table row (tr)        
        $(Item).closest('tr').each(function () {
            var ItemObj = {};
            ItemObj.itemId = $(this).find("td:eq(0)").text();
            //alert(ItemObj.itemId.toString());
            ItemObj.itemName = $(this).find("td:eq(1)").text();
            //alert(ItemObj.itemName.toString());
            ItemObj.quantity = $(this).find("td:eq(2)").text();
            ItemObj.unitPrice = $(this).find("td:eq(3)").text();
            ItemObj.discount = $(this).find("td:eq(4)").text();
            ItemObj.total = $(this).find("td:eq(5)").text();

            //console.log(ItemObj);

            ItemArr.push(ItemObj);
        });

        //alert(ItemArr);
        //console.log(ItemArr);
    }


    function SelectItem(Item) {
        var ItemObj = {};
        // loop over each table row (tr)        
        $(Item).closest('tr').each(function () {           
            ItemObj.itemId = $(this).find("td:eq(0)").text();
            ItemObj.itemName = $(this).find("td:eq(1)").text();
            ItemObj.quantity = $(this).find("td:eq(2)").text();
            ItemObj.unitPrice = $(this).find("td:eq(3)").text();
            ItemObj.discount = $(this).find("td:eq(4)").text();
            ItemObj.total = $(this).find("td:eq(5)").text();            
        });

    }

    function RemoveItem(item) {

        //str = "<input type=\"text\" value=\"apple\">";
        //str = "<\"text\" value=\"apple\>";
        //var strObj = $(str);
        //alert(strObj.val());
        //var strObj = $(item);
        //alert(strObj.val());
        //alert(strObj.text());
        //alert(strObj.html());
        $(item).closest('tr').remove();

        /*
        $("#tblReastaurantItemList").on('click', '.remove', function () {
            $(this).closest('tr').remove();
        });*/
    }    

    function DuplicateAddItem() {

    }

    function ResetItem() {
        $("#Item").val(0);
        $("#UnitPrice").val('');
        $("#Quantity").val('');
        $("#Discount").val('0.00');
        $("#Total").val('');        
    }

    function CalSubTotal() {
        var unitPrice = $('#UnitPrice').val();
        var quantity = $('#Quantity').val();
        var discount = $('#Discount').val();

        var total = unitPrice * quantity - discount;

        $('#Total').val(parseFloat(total).toFixed(2));
    }

    function GetUnitPriceItem(itemId) {        
        //alert(itemId.toString());
        $.ajax({
            //async: Set this options to false to perform a synchronous request
            async: true,
            //type: The type of request to make, which can be either “POST” or “GET”
            type: 'GET',
            //dataType: The type of data expected back from the server
            dataType: 'JSON',
            //contentType: The content type of the data sent to the server
            contentType: 'application/json; charset = utf-8',
            //data: The data to send to the server when performing the Ajax request
            data: { ItemId: itemId },
            //url: A string containing the URL to which the request is sent
            url: '/home/getItemUnitPrice',
            //success: A function to be called if the request succeeds
            success: function (data) {
                $('#UnitPrice').val(parseFloat(data).toFixed(2));
            },
            //error: A function to be called if the request fails
            error: function () {
                alert('There is some problems with UnitPrice');
            }
        });
    }

</script>
<style>
    fieldset{
        border: 1px solid #ddd !important ;
        margin:0;
        min-width :0;
        padding:10px;
        position:relative;
        border-radius:4px;
        background-color:#f5f5f5;
        padding-left:10px !important;

    }
    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color:#ffffff;
    }
    table {
        /*height: 250px;*/
        width: 100%;
    }
    th {
        height: 50px;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

</style>



<fieldset>
    <legend>Restaurant</legend>
        <div class="container">
            <div class="row">
                <div class=" col-md-6">
                    <div class=" form-group">
                        Customer :
                        @Html.DropDownList("Customer", new SelectList(Model.Item1, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class=" form-group">
                        Payment type :
                        @Html.DropDownList("PaymentType", new SelectList(Model.Item3, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    
</fieldset>
<fieldset>
    <legend> Restaurant Item</legend>
           <div class=" container">
               <div class=" row">
                   <div class=" col-md-4">
                       <div class=" form-group">
                           Item :
                           @Html.DropDownList("Item", new SelectList(Model.Item2, "Value", "Text"), new { @class = " form-control" })
                       </div>
                   </div>
                   <div class=" col-md-4">
                       <div class=" form-group">
                           Unit price :
                           <input id="UnitPrice" readonly="readonly" value=" 0.00" type="text" class="form-control" />
                       </div>
                   </div>
                   <div class=" col-md-4">
                       <div class=" form-group">
                           Quantity :
                           <input id="Quantity" type="text" class=" form-control" />
                       </div>
                   </div>
               </div>               

               <div class=" row">

                   <div class=" col-md-4">
                       <div class=" form-group">
                           Discount :
                           <input id="Discount" value=" 0.00" type="text" class=" form-control" />
                       </div>
                   </div>
                   <div class=" col-md-4">
                       <div class=" form-group">
                           Total :
                           <input id="Total" value=" 0.00" readonly="readonly" type="text" class=" form-control" />
                       </div>
                   </div>
                   <div class=" col-md-4">
                       <div class=" form-group">

                           <input id="Addtolist" style="margin-top:18px" type="submit" value="Add to list" class=" btn btn-success" />
                       </div>
                   </div>
               </div>
           </div>
       
</fieldset>
<fieldset>
    <legend>
        Restaurent list items
    </legend>
    <table id="tblReastaurantItemList">
        <tbody id="tblReastaurantItemList_body">
            <tr>
                <th hidden="hidden">
                    Item id
                </th>
                <th>
                    Item name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Unit price
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Total
                </th>
                <th>
                    Action
                </th>
            </tr>
        </tbody>
        <tfoot id="tblReastaurantItemList_footer">
            <td></td>
            <td></td>
            <td></td>
            <td>
                Final total
            </td>
            <td>
                <input type="text" readonly="readonly" id="FinalTotal" class="form-control" />
            </td>

        </tfoot>
        
    </table>    
    <div class="form-group">
        <input style="float:right" type="button" id="Save" class="btn btn-primary" value="Save" name=" save" />
    </div>
    
</fieldset>

